@import "syntax-variables";

atom-text-editor, :host {
  background-color: @syntax-background-color;
  color: @syntax-text-color;

  .wrap-guide {
    background-color: @syntax-wrap-guide-color;
  }

  .indent-guide {
    color: @syntax-indent-guide-color;
  }

  .invisible-character {
    color: @syntax-invisible-character-color;
  }

  .gutter {
    background-color: @syntax-gutter-background-color;
    color: @syntax-gutter-text-color;

    .line-number {
      &.cursor-line {
        background-color: @syntax-gutter-background-color-selected;
        color: @syntax-gutter-text-color-selected;
      }

      &.cursor-line-no-selection {
        color: @syntax-gutter-text-color-selected;
      }
    }
  }


  .gutter .line-number.folded,
  .gutter .line-number:after,
  .fold-marker:after {
    color: @light-gray;
  }

  .invisible {
    color: @syntax-text-color;
  }

  .cursor {
    color: @syntax-cursor-color;
  }

  .selection .region {
    background-color: @syntax-selection-color;
  }
}

atom-text-editor .search-results .marker .region,
:host .search-results .marker .region {
  background-color: transparent;
  border: 1px solid @syntax-result-marker-color;
}

atom-text-editor .search-results .marker.current-result .region,
:host .search-results .marker.current-result .region {
  border: 1px solid @syntax-result-marker-color-selected;
}

.comment {
  color: @dark-gray;
}

.keyword {
  color: @magenta;

  &.control {
    color: @magenta;
  }

  &.html.elements {
    color: @red;
  }

  &.operator {
    color: lighten(@magenta, 10%);

    &.css {
      color: @magenta;
    }
  }

  &.other.special-method {
    color: @cyan;
  }

  &.other.unit {
    color: @orange;

    &.css {
      color: @syntax-text-color;
    }
  }
}

.storage {
  color: @magenta;

  &.function.arrow {
    color: lighten(@magenta, 10%);
  }
}

.constant {
  color: @orange;

  &.character.escape {
    color: @cyan;
  }

  &.numeric {
    color: @orange;
  }

  &.other.color {
    color: @cyan;

    &.css {
      color: @syntax-text-color;
    }
  }

  &.other.symbol {
    color: @green;
  }

  &.css {
    color: @syntax-text-color;
  }
}

.variable {
  color: @syntax-text-color;

  &.interpolation {
    color: darken(@syntax-text-color, 10%);
  }

  &.parameter.function {
    color: @syntax-text-color;
  }

  &.shorthandpropertyname {
    color: @yellow;
  }

  &.constant {
    color: @orange;
  }
}

.invalid.illegal {
  background-color: @red;
  color: @syntax-background-color;
}

.object {
  &.module .keyword {
    color: lighten(@orange, 20%);
  }

  &.key .string {
    color: @yellow;

    .punctuation {
      color: @yellow;
    }
  }
}

.string {
  color: @green;

  &.unquoted {
    color: @yellow
  }

  &.json {
    color: @yellow;
    opacity: 0.8;

    .punctuation.definition.string {
      color: @yellow;
    }
  }

  &.regexp {
    color: lighten(@orange, 20%);

    .keyword.other,
    .punctuation.definition.string {
      color: @orange;
    }

    .escape {
      color: lighten(@orange, 10%);
    }

    .source.ruby.embedded {
      color: @orange;
    }
  }

  &.other.link {
    color: @red;
  }
}

.punctuation {
  &.json,
  &.gfm,
  &.section,
  &.class,
  &.terminator,
  &.separator {
    color: @gray;
  }

  &.quasi {
    color: lighten(@orange, 20);
  }

  &.definition {
    &.comment {
      color: @dark-gray;
    }

    &.string {
      color: @green;
    }

    &.entity {
      &.css {
        color: @blue;
      }
    }

    &.variable,
    &.parameters,
    &.array {
      color: @gray;
    }

    &.tag {
      color: @syntax-text-color;
    }

    &.heading,
    &.identity {
      color: @blue;
    }

    &.bold {
      color: lighten(@orange, 10%);
      font-weight: bold;
    }

    &.italic {
      color: @blue;
      font-style: italic;
    }
  }

  &.section.embedded {
    color: darken(@red, 10%);
  }

}

.support {
  &.property-name {
    color: @yellow !important;
  }

  &.class.builtin,
  &.media.css,
  &.object {
    color: lighten(@orange, 20%);
  }

  &.function  {
    color: @cyan;

    &.any-method {
      color: @blue;
    }
  }
}

.entity {
  &.name.accessor,
  &.name.function {
    color: @cyan;
  }
  &.name.type {
    color: lighten(@orange, 10%);
    text-decoration: underline;
  }

  &.other.inherited-class {
    color: @green;
  }
  &.class, &.name.class, &.name.type.class {
    color: @blue !important;
  }

  &.name.section {
    color: @blue;
  }

  &.name.tag {
    color: @red;

    &.yaml {
      color: @yellow;
      opacity: 0.8;
    }
  }

  &.other.attribute-name {
    color: lighten(@orange, 20%);

    &.id {
      color: @blue;
    }
  }

  &.gfm {
    color: @cyan;
  }
}

.meta {
  &.brace {
    color: @gray;
  }

  &.class {
    color: lighten(@orange, 10%);
  }

  &.link {
    color: @orange;
  }

  &.require {
    color: @blue;
  }

  &.selector {
    color: @blue;
  }

  &.separator {
    background-color: @gray;
    color: @syntax-text-color;
  }

  &.value.json {
    > .string {
      opacity: 1;
      color: @green;

      .punctuation {
        color: @green;
      }
    }
  }
}

.delimiter {
  color: @gray;
}

.none {
  color: @syntax-text-color;
}

.markup {
  &.bold {
    color: @orange;
    font-weight: bold;
  }

  &.changed {
    color: @blue;
  }

  &.deleted {
    color: @red;
  }

  &.italic {
    color: @blue;
    font-style: italic;
  }

  &.heading .punctuation.definition.heading {
    color: @blue;
  }

  &.inserted {
    color: @green;
  }

  &.list {
    color: @red;
  }

  &.quote {
    color: @orange;
  }

  &.raw.inline {
    color: @green;
  }

  &.link.gfm {
    color: lighten(@yellow, 10%);
  }
}

.source.gfm .markup {
  -webkit-font-smoothing: auto;
  &.heading {
    color: @blue;
  }
}

.html.doctype {
  color: @magenta;
}

.JSXNested {
  color: @green;
}

.media.at-rule {
  color: @gray;

  &.keyword {
    color: @magenta;
  }
}

.less {
  .support {
    color: @cyan;
  }

  .keyword.other.unit,
  .constant {
    color: @orange;
  }
}

atom-text-editor[mini] .scroll-view,
:host([mini]) .scroll-view {
  padding-left: 1px;
}
